:root {
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --color-primary-rgb: rgb(172, 0, 255);
  --color-primary-rgb-hover: rgb(140, 0, 211);
  --color-secondary-rgb: rgb(255, 255, 255);
  --background-color-black-transparent: rgba(0, 0, 0, 0.8);
  
  /* Font Sizes */
  --font-size-large: 1.5rem; //24px
  --font-size-regular: 1rem; //16px
  --font-size-medium: .75rem; //12px
  --font-size-small: .5rem; //8px

  /* Font color */
  --font-color-primary: rgb(255, 255, 255);
  --font-color-secondary: rgb(172, 0, 255);
  --font-color-special-black: rgb(22 22 22);
  
  /* Spacing */
  --space-doubleXxl: 4rem; //64px
  --space-doubleXl: 3rem; // 48px
  --space-xl: 2.5rem; //40px
  --space-l: 2rem; //32px
  --space-m: 1rem; //16px
  --space-s: .75rem; //12px
  --space-xs: .5rem; //8px
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color-primary);
  background: linear-gradient(
      to bottom,
      transparent,
      var(--color-secondary-rgb)
    )
    var(--color-primary-rgb);
}

a {
  color: inherit;
  text-decoration: none;
}