.status1  {
  width: 70px!important;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: #fff;
}

.status0 {
  width: 70px!important;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  background-color: #000;
}

.maze {
    background-color: rgb(255, 255, 255);
    width: 1200px;
    margin: 0 auto;

    @media screen and (max-width: 1200px)  {
      width: 100%;
    }
}

.startStep {
    border: 2px solid red;
}

.endStep {
    background-color: green;
}

.currentStep {
    background-color: rgb(117, 111, 197);
    border-radius: 50px;
    max-width: 30px;
    max-height: 30px;
    width: 50%;
    height: 50%;
    margin: auto;
}

.moves {
  text-align: right;
  margin-bottom: 3px;
  margin-top: 30px;
}